<style>
  .masthead {
    height: 100%;
  }
</style>

<!-- Page Contents -->
<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="active item">Home</a>
      <a href="/products" class="item">Products</a>
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui inverted header">
      Ola, Crypto enthusiast!
    </h1>
    <h2>Check the price cryptos here.</h2>
    <div class="ui fluid search selection dropdown">
      <div class="text"></div>
      <i class="dropdown icon"></i>
    </div>
    <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
  </div>

</div>

<script>
  $('.ui.dropdown')
  .dropdown({
    apiSettings: {
      url: '/products'
    },
    filterRemoteData: true
  })
;
</script>