<style>
  .masthead {
    height: 100%;
  }

  .ui.text.container{
    margin-top : 3em;
  }
</style>

<!-- Page Contents -->
<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="active item">Home</a>
      <a href="/products" class="item">Products</a>
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui inverted header">
      Ola, Crypto enthusiast!
    </h1>
    <h2>Check the price cryptos here.</h2>
    <div class="ui fluid search selection dropdown">
      <div class="text"></div>
      <i class="dropdown icon"></i>
    </div>
    
    <div class="ui fluid card">
      <div class="content">
        <div id="product-name" class="header">
          <img src="/images/crypto.jpeg" class="ui avatar image">
          Product Name
        </div>
        <div class="ui centered inline loader"></div>
        <div class="description">
            <div class="ui list">
                <% _.each(exchanges, function(exchange, idx){ %>
                  <div class="item" data-exchange="<%= exchange %>">
                    <%= exchange %> : <span></span>
                  </div>
                <% }) %>
            </div>
          
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function () {
    init();
  });
  function init() {
      $('.ui.dropdown')
        .dropdown({
          apiSettings: {
            url: '/products'
          },
          filterRemoteData: true,
          onChange : function(value){
            getPriceForProduct(value);
          } 
          
        });
  }
  
  function getPriceForProduct(productId){
    $('.ui.loader').addClass('active');
    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "/products/"+productId +"/prices",
      "method": "GET"
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
      _.each(response, function(obj){
        $("div.item[data-exchange='"+obj.exchange+"'] span").text(obj.price);
      })
      var max = _.maxBy(response, function(o) { return o.price; });
      var min = _.minBy(response, function(o) { return o.price; });
      $("div.item[data-exchange='"+max.exchange+"'] span").css("color",'green');
      $("div.item[data-exchange='"+min.exchange+"'] span").css("color",'red');

    }).fail(function(){
        alert("Error getting data");
    }).always(function(){
      $('.ui.loader').removeClass('active');
    });
  }
  
</script>